<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/jobs']" translate>jobs</a>&nbsp;/&nbsp;
      <strong translate>Projects</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>name,code</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="contents" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>kieuDuLieu</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="id_dataType">
                <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.value">
                  {{dataType.display}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label translate>&nbsp;</label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>loaiDuAn </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <kendo-treeview class="treeview" [nodes]="project_types" [children]="children"
                    [hasChildren]="hasChildren" textField="name" kendoTreeViewExpandable
                    [kendoTreeViewCheckable]="checkableSettings" [(checkedKeys)]="id_project_types" [checkBy]="'id'">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label translate>&nbsp;</label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>account_manager </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <kendo-treeview class="treeview" [nodes]="accounts" [children]="children" [hasChildren]="hasChildren"
                    textField="fullname" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_account_managers" [checkBy]="'portal_account_id'">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> Search</button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef>
                <label>Index </label>
              </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>codeProject</label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>name </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenKieuDuLieu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>kieuDuLieu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenKieuDuLieu}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenLoaiDuAn">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>loaiDuAn </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenLoaiDuAn}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_account_manager">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>account_manager </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.fullname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="maLuongCongViec">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>luongCongViec </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.maLuongCongViec}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="allowEdit">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>allowEdit </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <label *ngIf="row.allowEdit==1" translate>Yes</label>
                <label *ngIf="row.allowEdit==0" translate>No</label>
              </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openProjectDialog({allowEdit:1})" mat-icon-button color="primary"
                  *ngIf="permission.DH_CV_QuanLyDuAn._insert">
                  <mat-icon aria-label="Insert">add</mat-icon>
                </button>
              </mat-header-cell>

              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option [routerLink]="['component/'+row.id]">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>Component</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['task/'+row.code]">
                    <button mat-icon-button>
                      <i class="fa fa-download fa-lg"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label translate>Task</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['member/'+row.id]">
                    <button mat-icon-button>
                      &nbsp;<i class="fa fa-info fa-lg"></i>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label translate>Member</label>
                    </button>
                  </mat-option>
                  <mat-option
                    (click)="openAttachFiles({tableName:'jobs_project', id_data: row.id, permission: permissionAttachsFile})"
                    *ngIf="permission.DH_CV_QuanLyDuAn._insert">
                    <button mat-icon-button>
                      <i class="fa fa-download fa-lg"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label translate>viewAttachFiles</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openProjectDialog({body:row,allowEdit:row.allowEdit})"
                    *ngIf="permission.DH_CV_QuanLyDuAn._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>Edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.DH_CV_QuanLyDuAn._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>Delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>