<div class="animated fadeIn">
  <div class="card card-default">
    <div class="row">
      <div class="col-md-3">
        <p-tabView>
          <p-tabPanel header="{{'info'|translate}}">
            <!-- <div *ngIf="data"> -->
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td translate>tenDoan</td>
                  <td>{{data.name}}</td>
                </tr>
                <tr>
                  <td translate>maDoan</td>
                  <td>{{data.code}}</td>
                </tr>
                <tr>
                  <td translate>loaiDuong</td>
                  <td>{{data.loaiDuong}}</td>
                </tr>
                <tr>
                  <td translate>tuyenDuong</td>
                  <td>{{data.tuyenDuong}}</td>
                </tr>
                <tr>
                  <td translate>diemDau</td>
                  <td>{{data.diemDau}}</td>
                </tr>
                <tr>
                  <td translate>diemCuoi</td>
                  <td>{{data.diemCuoi}}</td>
                </tr>
                <tr>
                  <td translate>chieuRongMatDuong</td>
                  <td>{{data.chieuRongMatDuong}}</td>
                </tr>
                <tr>
                  <td translate>chieuDai</td>
                  <td>{{data.chieuDai}}</td>
                </tr>
                <tr>
                  <td translate>ketCauMatDuong</td>
                  <td>{{data.ketCauMatDuong}}</td>
                </tr>
                <tr>
                  <td translate>ghiChu</td>
                  <td>{{data.ghiChu}}</td>
                </tr>
              </tbody>

            </table>
          </p-tabPanel>
          <p-tabPanel header="{{'chuGiai'|translate}}">
            Content 2
          </p-tabPanel>
          <p-tabPanel header="{{'ketQua'|translate}}">
            Content 3
          </p-tabPanel>
        </p-tabView>
      </div>
      <div class="col-md-9 card-body">
        <div class="row form-group">
          <div class="col-md-3">
            <div class="col-md-12">
              <button ngClass="menu-filter-item-button" class="border" type="button" mat-button (click)="selectLine.open()">
                <strong class="menu-filter-item-title" translate>themDuong</strong>
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
            </div>
            <div class="col-md-12">
              <mat-select #selectLine style="visibility:hidden;" id="actions">
                <mat-option>
                  <button mat-icon-button (click)="btn_drawPolyLine()">
                    &nbsp;<i class="fa fa-info fa-lg"></i>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label translate>duongDoThi</label>
                  </button>
                </mat-option>
                <mat-option>
                  <button mat-icon-button (click)="btn_drawPolyLine()">
                    <mat-icon aria-label="Detail">search</mat-icon>
                    <label translate>duongCaoToc</label>
                  </button>
                </mat-option>
                <mat-option>
                  <button mat-icon-button (click)="btn_drawPolyLine()">
                    <i class="fa fa-download fa-lg"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label translate>duongTinh</label>
                  </button>
                </mat-option>
                <mat-option>
                  <button mat-icon-button (click)="btn_drawPolyLine()">
                    &nbsp;<i class="fa fa-info fa-lg"></i>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label translate>duongQuocLo</label>
                  </button>
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <button ngClass="menu-filter-item-button" class="border" type="button" mat-button (click)="selectMarker.open()">
                <strong class="menu-filter-item-title" translate>addCotBien</strong>
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
            </div>
            <div class="col-md-12">
              <mat-select #selectMarker style="visibility:hidden;" id="actions">
                <mat-option>
                  <button mat-icon-button (click)="btn_drawMarker()">
                    <mat-icon aria-label="Detail">search</mat-icon>
                    <label translate>bienBao</label>
                  </button>
                </mat-option>
                <mat-option>
                  <button mat-icon-button (click)="btn_drawMarker()">
                    <i class="fa fa-download fa-lg"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label translate>cotKmTinh</label>
                  </button>
                </mat-option>
                <mat-option>
                  <button mat-icon-button (click)="btn_drawMarker()">
                    &nbsp;<i class="fa fa-info fa-lg"></i>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label translate>cotKmQuocLo</label>
                  </button>
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div style="height: 500px; width: 900px;" leaflet [leafletOptions]="options"
          [leafletLayersControl]="layersControl" (leafletMapReady)="onMapReady($event)">

          <div *ngIf="!shown" leafletDraw [leafletDrawOptions]="drawOptions">
          </div>
          <!-- <div      [leafletDrawOptions]="drawOptions"     ></div> -->
        </div>
      </div>
    </div>
  </div>
</div>