<form [formGroup]="activityForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>activityForm</h2>
    <div class="form-group field">
      <label translate>State</label>
      <div class="control">
        <label class="form-control input is-primary" translate>{{data.trangThai}}</label>
      </div>
    </div>
    <div class="form-group field">
      <label translate>id_sys_workflow_state_action</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_sys_workflow_state_action"
          [ngClass]="{ 'is-invalid': submitted && f.id_sys_workflow_state_action.errors }">
          <mat-option *ngFor="let sysWorkflowStateAction of sysWorkflowStateActions" [value]="sysWorkflowStateAction.value">
            {{sysWorkflowStateAction.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_sys_workflow_state_action.errors" class="help is-danger">
          <div *ngIf="f.id_sys_workflow_state_action.errors.required" translate>id_sys_workflow_state_action is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>comment</label>
      <div class="control">
        <quill-editor formControlName="comment"></quill-editor>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.allowAssign.data[0]">
      <label translate>assignTo</label>
      <div class="control">
        <mat-select [(value)]="id_assign" class="form-control input is-primary">
          <mat-option *ngFor="let account of accounts" [value]="account.value">
            {{account.display}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>