  <div class="card card-default">
    <div class="card-header">
      <strong translate>Task Activity Log</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
              <mat-cell *matCellDef="let element; index as i"> {{paginator.pageSize * paginator.pageIndex + i + 1}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenState">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenState </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenState}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenAction">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenAction </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenAction}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenNguoiThucHien">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenNguoiThucHien </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenNguoiThucHien}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>comment </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> <label [innerHTML]="row.comment"></label></mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenNguoiPhuTrach">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenNguoiPhuTrach </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenNguoiPhuTrach}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
