<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-body">
      <form [formGroup]="searchForm" class="border" (ngSubmit)="onSearch()" novalidate>
        <div> &nbsp;&nbsp;</div>
        <div class="col-sm-12 row">
          <div class="form-group col-sm-3">
            <label translate>Tên món</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="name" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>Địa Điểm</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="local" />
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label translate>Tải lên hình ảnh</label>
            <div class="control">
              <input type="file" id="file" (change)="handleFileInput($event.target.files) ">
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> Search</button>
            </div>
          </div>
        </div>
      </form>
      <div> &nbsp;&nbsp;</div>
      <p-tabView>
        <p-tabPanel header="Nhà hàng">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <button class="card text-white float-right p-1 "
                style="width: 100%;height:170px; text-align: center;   background-image: url(../../../assets/img/nha.jfif);" [routerLink]="['/map']">
                <div class="card-body">
                  <button type="button" class="btn btn-transparent ">
                    <i class="icon-location-pin"></i>
                  </button>
                  <div class="text-value" translate>Nhà hàng A</div>
                  11h-20h, 7 món, 121 Lê Thanh Nghị
                </div>
              </button>
            </div>
            <div class="col-sm-6 col-lg-3">
              <button class="card text-white" style="width: 100%;height:170px;  background-image: url(../../../assets/img/nhb.jfif);" [routerLink]="['/']">
                <div class="card-body">
                  <button type="button" class="btn btn-transparent p-1 ">
                    <i class="icon-location-pin"></i>
                  </button>
                  <div class="text-value" translate>Nhà hàng B</div>
                  11h-20h, 7 món, 121 Lê Thanh Nghị
                </div>
              </button>
            </div>
       
          </div>
        </p-tabPanel>
        <p-tabPanel header="Địa điểm">
          <div class="row">
            <div class="col-md-3">
              <table class="table table-striped table-bordered">
                <tbody>
                  <tr>
                    <td translate>Tên nhà hàng</td>
                    <td>{{data.name}}</td>
                  </tr>
                  <tr>
                    <td translate>Mã</td>
                    <td>{{data.code}}</td>
                  </tr>
                  <tr>
                    <td translate>Giờ mở cửa</td>
                    <td>{{data.hour}}</td>
                  </tr>
                  <tr>
                    <td translate>Địa chỉ</td>
                    <td>{{data.local}}</td>
                  </tr>
                  <tr>
                    <td translate>Thực đơn</td>
                    <td>{{data.monAn}}</td>
                  </tr>
                  <tr>
                    <td translate>Ghi chú</td>
                    <td>{{data.ghiChu}}</td>
                  </tr>
                </tbody>

              </table>
            </div>
            <div class="col-md-9 card-body">
              <div style="height: 500px; width: 100%;" leaflet [leafletOptions]="options"
                (leafletMapReady)="onMapReady($event)">
                <div *ngFor="let l of markerData" [leafletLayer]="l">

                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

    </div>
  </div>
  <!--/.row-->
</div>