<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header border">
      <strong translate>Comment</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="commentsForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mesgs">
          <div class="msg_history">
            <div *ngIf="isEmptyComment"><label translate>Add Comment</label></div>
            <div class="incoming_msg" *ngFor="let dataComment of dataComments">
              <label>{{dataComment.nguoiTao}}</label>
              <div *ngIf="dataComment.id!==idEdit" class="received_msg">
                <div class="received_withd_msg">
                  <p>{{dataComment.content}}
                    <mat-select class="col-md-2 msg_edit_btn" *ngIf="portal_account_id=== dataComment.createBy">
                      <mat-option (click)="openEditComments(dataComment)">
                        <button mat-icon-button>
                          <mat-icon aria-label="Edit">edit</mat-icon>
                          <label translate>Edit</label>
                        </button>
                      </mat-option>
                      <mat-option (click)="clickMethodDelete(dataComment)">
                        <button mat-icon-button>
                          <mat-icon aria-label="Delete">delete</mat-icon>
                          <label translate>Delete</label>
                        </button>
                      </mat-option>
                    </mat-select>
                  </p>
                  <span class="time_date">
                    {{dataComment.createDate| amFromUtc | amDateFormat: 'hh:mm A  DD/MM/YYYY'}}</span>
                </div>
              </div>
              <div *ngIf="dataComment.id===idEdit">
                <div class="type_msg">
                  <div>
                    <textarea formControlName="content" [value]="f.content.value" [rows]="2" [cols]="118"
                      [ngClass]="{ 'is-invalid': submitted && f.content.errors }" pInputTextarea
                      autoResize="autoResize"></textarea>
                    <div *ngIf="submitted && f.content.errors" class="help is-danger">
                      <div *ngIf="f.content.errors.required" translate>content is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <button mat-button class="border" type="submit">Ok</button>
                  </div>
                  <div class="col-md-6">
                    <label>&nbsp;</label>
                  </div>
                  <div class="col-md-2">
                    <label>Nguoi co the xem</label>
                  </div>
                  <div class="col-md-2">
                    <mat-select class="form-control input" formControlName="viewableRoleLevel"
                      [value]="f.viewableRoleLevel.value" placeHoder>
                      <mat-option value='0' default>
                        All
                      </mat-option>
                      <mat-option *ngFor="let roleLevel of roleLevels" [value]="roleLevel.value">
                        {{roleLevel.display}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <label>&nbsp;</label>
          <div>
            <div class="row">
              <textarea formControlName="content" [value]="f.content.value" [rows]="2" [cols]="95" pInputTextarea
                autoResize="autoResize"></textarea>
              <div *ngIf="submitted && f.content.errors" class="help is-danger">
                <div *ngIf="f.content.errors.required" translate>content is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <button mat-button class="border" type="submit">Gửi</button>
            </div>
            <div class="col-md-7">
              <label>&nbsp;</label>
            </div>
            <div class="col-md-2">
              <label translate>Nguoi co the xem</label>
            </div>
            <div class="col-md-2">
              <mat-select class="form-control input" formControlName="viewableRoleLevel"
                [value]="f.viewableRoleLevel.value" placeHoder>
                <mat-option value='0' default>
                  All
                </mat-option>
                <mat-option *ngFor="let roleLevel of roleLevels" [value]="roleLevel.value">
                  {{roleLevel.display}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <label>&nbsp;</label>
        </div>
      </form>
    </div>
  </div>
</div>